spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/webproject
    username: root
    password: 123456
  data:
    redis:
      host: localhost
      port: 6379
  mail:
    host: smtp.qq.com
    username: 2094548571@qq.com
    password: iqzchjnhqipwbcdd
    protocol: smtp
    default-encoding: UTF-8
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          ssl:
            enable: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 50MB

mybatis:
  configuration:
    map-underscore-to-camel-case: true